<html>

<head>
    <title>Personal Loan Platform</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    Personal Loan
    <form action="http://localhost:3000/transactions/new" method="POST">
        <input type="text" value="Creditor" />
        <input type="text" value="Debtor" />
        <input type="number" value="money" />
        <input type="submit" value="new transaction" />
        <!--Creditor=채권자, Debtor=채무자, money=원금, new transaction=트랜잭션 발생
        Get values from this action and Using when makes a transaction
        -->
    </form>
    <form action="http://localhost:3000/mine" method="GET">

        <input type="submit" value="mine" />
        <!--mining once-->
    </form>
    <form>
        <button type="button" onclick="location.href='http://localhost:3000/chain'">chain</button>
        <!--get full chain from blockchain-->
    </form>
</body>

</html>